@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* 300, 600, 800 */ /* 14px 16px */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

:root {
	--app-background: #fafafa;
	--element: #ffffff;
	--text: #111517;
	--input: #858585;
}

:root[data-theme='dark'] {
	--app-background: #202c37;
	--element: #2b3945;
	--text: #ffffff;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: auto;
	min-height: 100vh;
}

div[id='root'] {
	width: 100%;
	height: auto;
	min-height: 100vh;
}
