*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: auto;
	min-height: 100vh;
}

div[id='root'] {
	width: 100%;
	height: auto;
	min-height: 100vh;
}
